/* home top navigation */

.navTitle{
    font-family: 'montserreat','sans-serif';
    color: #ffffff !important;
    font-weight: 700;
    font-size: 24px;
    margin-left: 5px;
}
.navTitleScroll{
    font-family: 'montserreat','sans-serif';
    color: darkblue !important;
    font-weight: 700;
    font-size: 24px;
    margin-left: 5px;
}
.navBackground{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(0, 0, 0, 0) !important;
}
.navBackgroundScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}
.navItem{
    font-size: 16px;
    text-decoration: none !important;
    font-family: 'montserreat','sans-serif';
    font-weight: 400;
    color: #ffffff !important;
    margin-left: 5px;
}
.navItemScroll{
    font-size: 16px;
    text-decoration: none !important;
    font-family: 'montserreat','sans-serif';
    font-weight: 400;
    color: darkblue !important;
    margin-left: 5px;
}

/* home top banner */

.topFixedBanner{
    background-image: url("../image/background1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.topBannerContent{
    margin-top: 11rem;
}
.topBannerTitle{
    font-family: 'montserreat','sans-serif';
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
}
.topBannerSubTitle{
    font-family: 'Raleway','sans-serif';
    font-weight: 700;
    color: #ffffff;
    font-size: 26px;
}


/* home service section */
.serviceTitle{
    color: darkblue;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'montserreat','sans-serif';
    font-size: 28px;
    font-weight: 600;
}
.serviceName{
    margin-top: 1rem;
    font-family: 'Raleway','sans-serif';
    font-size: 22px;
    font-weight: 600;
    color: darkblue;
}
.serviceDetails{
    color: #7F7E7E;
    margin-top: 1rem;
    font-family: 'Raleway','sans-serif';
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}
.serviceCard{
    margin: 5px;
    height: 24rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.serviceCard:hover{
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}


/* home analysis/technology used section */

.analysisDetails{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Raleway','sans-serif';
    text-align: justify;
    color: #000000;
}


/* home summary section */

.summaryBanner{
    background-image: url("../image/background.webp");
    min-height: 340px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.summaryOverlay{
    position: absolute;
    min-height: 340px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.countNumber{
    color: #ffffff;
    font-family: 'montserreat','sans-serif';
    font-size: 48px;
    font-weight: 600;
}
.countTitle{
    color: #ffffff;
    font-family: 'Raleway','sans-serif';
    font-size: 22px;
    font-weight: 600;
}
.countSection{
    margin-top: 15%;
}
.summaryCard{
    margin-top: 12%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
.summaryCardTitle{
    color: #000000;
    font-family: 'Raleway','sans-serif';
    font-size: 26px;
    font-weight: 600;
    text-align: justify;
}
.summaryCardSubTitle{
    color: #000000;
    font-family: 'montserreat','sans-serif';
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
}
.summaryIcon{
    color: darkblue;
    font-size: 16px;
}


/* home project section */

.projectCard{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
    height: 27rem;
    width: 100%;
}
.projectCard:hover{
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}
.projectCardTitle{
    font-family: 'montserreat','sans-serif';
    font-size: 18px;
    font-weight: 600;
    color: darkblue;
}
.projectCardDes{
    font-family: 'Raleway','sans-serif';
    font-size: 15px;
    font-weight: 400;
}

/* home courses section */

.courseImage{
    width: 100%;
}
.courseTitle{
    font-family: 'montserreat','sans-serif';
    font-size: 18px;
    font-weight: 600;
    color: darkblue;
}
.courseDes{
    font-family: 'Raleway','sans-serif';
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}


/* home video section */

.VideoCard{
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
    padding: 6rem 3rem 6rem 3rem;
    background-color: #ffffff;
    margin: 50px auto;
}
.videoTitle{
    font-family: 'montserreat','sans-serif';
    font-size: 24px;
    font-weight: 600;
    color: darkblue;
}
.videoDes{
    font-family: 'Raleway','sans-serif';
    font-size: 16px;
    font-weight: 400;
}
.playButton{
    font-size: 44px;
    color: darkblue;
    cursor: pointer;
}

/* home client review section */

.clientImage{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 50%;
}
.reviewName{
    margin-top: 1rem;
    font-family: 'Raleway','sans-serif';
    font-size: 22px;
    font-weight: 600;
    color: black;
}
.reviewDetails{
    color: #7F7E7E;
    margin-top: 1rem;
    font-family: 'Raleway','sans-serif';
    font-size: 15px;
    font-weight: 500;
}

/* home footer section */

.footerSection{
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
    margin-top: 5rem;
    background-color: #091634;
}
.footerName{
    margin-top: 1rem;
    font-family: 'Raleway','sans-serif';
    font-size: 22px;
    font-weight: 600;
    color: #ffa731;
}
.footerAddress{
    color: white;
    margin-top: 1rem;
    font-family: 'montserreat','sans-serif';
    font-size: 17px;
    font-weight: 500;
}
.socialLink{
    text-decoration: none;
    color: rgb(29, 123, 231);
    font-family: 'Raleway','sans-serif';
    font-size: 14px;
    font-weight: 600;
}
.socialLink:hover{
    text-decoration: none;
    color: gray;
}
.footerLink{
    text-decoration: none;
    color: white;
    font-family: 'Raleway','sans-serif';
    font-size: 14px;
    font-weight: 400;
}
.footerLink:hover{
    text-decoration: none;
    color: darkgray;
}
.copyWriteSection{
    padding: 20px;
    background-color: #15233a;
    color: white;
}
