/* home top banner */
.topFixedBanner{
    background-image: url("../image/banner.webp");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}
.topBannerContent{
    margin-top: 10rem;
}
.topBannerTitle{
    font-family: 'montserreat','sans-serif';
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
}
.topBannerSubTitle{
    font-family: 'Raleway','sans-serif';
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
}