/* home top navigation */

.navTitle{
    font-family: 'montserreat','sans-serif';
    color: #ffffff !important;
    font-weight: 700;
    font-size: 24px;
    margin-left: 5px;
}
.navTitleScroll{
    font-family: 'montserreat','sans-serif';
    color: darkblue !important;
    font-weight: 700;
    font-size: 24px;
    margin-left: 5px;
}
.navBackground{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(0, 0, 0, 0) !important;
}
.navBackgroundScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}
.navItem{
    font-size: 16px;
    text-decoration: none !important;
    font-family: 'montserreat','sans-serif';
    font-weight: 400;
    color: #ffffff !important;
    margin-left: 5px;
}
.navItemScroll{
    font-size: 16px;
    text-decoration: none !important;
    font-family: 'montserreat','sans-serif';
    font-weight: 400;
    color: darkblue !important;
    margin-left: 5px;
}

/* home top banner */

.topFixedBanner{
    background-image: url("../image/banner.webp");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.topBannerContent{
    margin-top: 9rem;
}
.topBannerTitle{
    font-family: 'montserreat','sans-serif';
    font-weight: 700;
    color: #ffffff;
    font-size: 50px;
}
.topBannerSubTitle{
    font-family: 'Raleway','sans-serif';
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
}


/* home service section */
.serviceTitle{
    color: darkblue;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'montserreat','sans-serif';
    font-size: 28px;
    font-weight: 600;
}
.serviceName{
    margin-top: 1rem;
    font-family: 'Raleway','sans-serif';
    font-size: 22px;
    font-weight: 600;
}
.serviceDetails{
    color: #7F7E7E;
    margin-top: 1rem;
    font-family: 'Raleway','sans-serif';
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}
.serviceCard{
    margin: 5px;
    height: 24rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.serviceCard:hover{
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}